.contactform{
  padding-top: 40px;
  width: 500px;
  height: 600px;
  text-align: center;
  margin: auto;
  margin-top: 60px;
  border-radius: 60px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
label{
  font-size: 18px;

}
.lname, .age, .email, .description, .captcha, button{
  margin-top: 10px;
}
.fage{
  margin-left: 55px;
  border-radius: 10px;

}
.femail{
  margin-left: 48px;
  border-radius: 10px;

}
#lastname, #firstname{
  margin-left: 5px;
  border-radius: 10px;

}
.submitbutton{
  width: 200px;
  height: 40px;
  border-radius: 10px;
}
.captchaa{
  margin-left: 100px;
}



@media screen and (max-width: 900px) {
  .contactform{
    width: 400px;
  }
  .captchaa{
    margin: auto;
    margin-left: 50px;

  }
}